.background_img{
    background-image: url('https://www.shutterstock.com/image-photo/elearning-education-internet-technology-webinar-260nw-1139995139.jpg');
    background-size: cover;
    height:600px;
    border-radius: 0 ;
    display: flex;
    align-items: center;
}

.form_text{
    justify-content: center;
    
}

.courses_img{
    border-radius: 0;
}
.card_bodyeffect:hover{
    background-color: rgb(241, 71, 71);
    color: white;
}
.search_course{
    background-color: white;
    width: 80%;
    margin: 0 auto;
    padding: 50px;
}

.footer_row{
    background-color: rgb(61, 234, 17);
    padding: 10px;
}
.footer_row ul {
    list-style: none;
}
.footer_row ul li i{
    color: black;
    margin: 0 5px;
}
.footer_row ul li a{
    color: white;
    font-size: 15px;
}
.footer_row ul li a:hover{
    color:blue;
}